{{define "title"}}{{end}}
{{define "head"}}{{end}}
{{define "content"}}

<div class="container">
	<form method="post" action="/somkiatbank/transfer">
		<table class="autoTable">
			<tr>
				<td class="lbl">
					จากบัญชี
				</td>
				<td class="form-group">
					<span id="from_acc_no" name="from_acc_no">{{.from_acc_no}}</span>
					<input type="hidden" id="#from_acc_no" name="#from_acc_no" value="{{.from_acc_no}}" />
				</td>
			</tr>
			<tr><td><div class="form-group"></div></td></tr>
			<tr>
				<td class="lbl">
					ไปยังบัญชี
				</td>
				<td>
					<input type="text" class="form-control" id="to_acc_no" name="to_acc_no" maxlength="10" value="" /></div>
				</td>
			</tr>
			<tr><td><div class="form-group"></div></td></tr>
			<tr>
				<td class="lbl">
					ธนาคาร
				</td>
				<td>
					<select id="bank_code" name="bank_code">
						<option value="">กรุณาเลือกธนาคาร</option>
						{{range $n := .banks}}
						<option value="{{.BKCD}}">{{.NAME}}</option>
						{{end}}
					</select>
				</td>
			</tr>
			<tr><td><div class="form-group"></div></td></tr>
			<tr>
				<td class="lbl">
					จำนวนเงิน
				</td>
				<td>
					<input type="number" class="form-control" id="tamt" name="tamt" maxlength="20" value="" />
				</td>
			</tr>
			<tr><td><div class="form-group"></div></td></tr>
			<tr>
				<td class="lbl"></td>
				<td>
					<input type="button" class="btn btn-primary" value="กลับหน้าแรก" class="button" onclick="window.location='/somkiatbank/account/'+document.getElementById('from_acc_no').innerHTML" />
					<input type="submit" class="btn btn-primary" id="btn_ok" value="ตกลง" class="button" />
				</td>
			</tr>
		</table>
	</form>
	
	{{template "footer" .}}
</div>

{{end}}
{{define "foot"}}{{end}}