{{define "title"}}{{end}}
{{define "head"}}{{end}}
{{define "content"}}

<div class="container">
	<form method="post" action="/somkiatbank/transfer_post">
		<table class="autoTable">
			<tr>
				<td class="lbl">
					โอนเงินจาก
				</td>
				<td></td>
			</tr>
			<tr>
				<td class="lbl">
					บัญชีเลขที่
				</td>
				<td class="form-group">
					<span id="#from_acc_no" name="#from_acc_no">{{.from_acc_no}}</span>
					<input type="hidden" id="from_acc_no" name="from_acc_no" value="{{.from_acc_no}}" />
				</td>
			</tr>
			<tr><td><div class="form-group"></div></td></tr>
			<tr>
				<td class="lbl">
					ชื่อบัญชี
				</td>
				<td class="form-group">
					<span id="from_acc_name" name="from_acc_name">{{.from_acc_name}}</span>
				</td>
			</tr>
			<tr><td><div class="form-group"></div></td></tr>
			<tr>
				<td class="lbl">
					ไปที่
				</td>
				<td class="form-group"></td>
			</tr>
			<tr><td><div class="form-group"></div></td></tr>
			<tr>
				<td class="lbl">
					บัญชีเลขที่
				</td>
				<td class="form-group">
					<span id="#to_acc_no" name="#to_acc_no">{{.to_acc_no}}</span>
					<input type="hidden" id="to_acc_no" name="to_acc_no" value="{{.to_acc_no}}" />
				</td>
			</tr>
			<tr><td><div class="form-group"></div></td></tr>
			<tr>
				<td class="lbl">
					ชื่อบัญชี
				</td>
				<td class="form-group">
					<span id="to_acc_name" name="to_acc_name">{{.to_acc_name}}</span>
				</td>
			</tr>
			<tr><td><div class="form-group"></div></td></tr>
			<tr>
				<td class="lbl">
					ธนาคาร
				</td>
				<td class="form-group">
					<span id="bank_name" name="bank_name">{{.bank_name}}</span>
					<input type="hidden" id="bank_code" name="bank_code" value="{{.bank_code}}" />
				</td>
			</tr>
			<tr><td><div class="form-group"></div></td></tr>
			<tr>
				<td class="lbl">
					จำนวนเงิน
				</td>
				<td class="form-group">
					<span id="trn_amt" name="trn_amt">{{.trn_amt}}</span>
					<input type="hidden" id="tamt" name="tamt" value="{{.trn_amt}}" />
				</td>
			</tr>
			<tr><td><div class="form-group"></div></td></tr>
			<tr>
				<td class="lbl">
					ค่าธรรมเนียม
				</td>
				<td class="form-group">
					<span id="fee_amt" name="fee_amt">{{.fee_amt}}</span>
					<input type="hidden" id="feeamt" name="feeamt" value="{{.fee_amt}}" />
				</td>
			</tr>
			<tr><td><div class="form-group"></div></td></tr>
			<tr>
				<td class="lbl"></td>
				<td class="form-group">
					<input type="button" class="btn btn-primary" value="กลับหน้าแรก" class="button" onclick="window.location='/somkiatbank/account/'+document.getElementById('from_acc_no').value" />
					<input type="submit" class="btn btn-primary" id="btn_ok" value="ตกลง" class="button" />
				</td>
			</tr>
		</table>
	</form>
	
	{{template "footer" .}}
</div>

{{end}}
{{define "foot"}}{{end}}