{{define "title"}}{{end}}
{{define "head"}}{{end}}
{{define "content"}}

<div class="container">
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>
	
	<form method="post">
		<div>
			โอนเงินจาก
		</div>
		<div class="form-group">
			<label for="from_acc_no">บัญชีเลขที่</label>
			<div><span id="from_acc_no" name="from_acc_no">{{.from_acc_no}}</span></div>
		</div>
		
		<div class="form-group">
			<label for="from_acc_no">ชื่อบัญชี</label>
			<div><span id="from_acc_name" name="from_acc_name">{{.from_acc_name}}</span></div>
		</div>
		
		<div>
			ไปที่
		</div>
		
		<div class="form-group">
			<label for="to_acc_no">บัญชีเลขที่</label>
			<div><span id="to_acc_no" name="to_acc_no">{{.to_acc_no}}</span></div>
		</div>
	
	
		<div class="form-group">
			<label for="to_acc_no">ชื่อบัญชี</label>
			<div><span id="to_acc_name" name="to_acc_name">{{.to_acc_name}}</span></div>
		</div>
		
		<div class="form-group">
			<label for="bank_name">ชื่อธนาคาร</label>
			<div><span id="bank_name" name="bank_name">{{.bank_name}}</span></div>
		</div>
		
		<div class="form-group">
			<label for="trn_amt">จำนวนเงิน</label>
			<div><span id="trn_amt" name="trn_amt">{{.trn_amt}}</span></div>
		</div>
		
		<div class="form-group">
			<label for="fee_amt">ค่าธรรมเนียม</label>
			<div><span id="fee_amt" name="fee_amt">{{.fee_amt}}</span></div>
		</div>
	
	
	
		
	</form>
</div>

{{end}}
{{define "foot"}}{{end}}